.post {
  width: 70%;
  margin: 1rem auto;
  border-bottom: 1.5px dashed gray;
  background-color: rgba(220, 245, 255, 0.37);
  padding: 1rem;
  border-radius: 10px;
}
.userImage img {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  text-align: center;
}
.userName {
  font-weight: 600;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.postReadMore {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.postProfileImg {
}
