.post {
  width: 70%;
  margin: 1rem auto;
  border-bottom: 1.5px dashed gray;
  background-color: rgba(220, 245, 255, 0.37);
  padding: 1rem;
  border-radius: 10px;
}
.userImage img {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  text-align: center;
}
.userName {
  font-weight: 600;
}
.userInfoCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.postReadMore {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.postProfileImg {
}
.postBTN {
  background-color: #9af0ff4b;
  padding: 0.5rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.postBTN:hover {
  background-color: white;
}
.likes {
  justify-self: flex-end;
  cursor: pointer;
  transition: all 0.5s ease;
}
.likes:hover {
  transform: scale(1.5);
}
.red {
  color: red;
}
